<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>

    <body>
        <section class="container">
            <form action="/quote" method="POST">
                <div class="form-group">
                    <label for="quote-box">Enter quote below:</label>
                    <input type="text" class="form-control" id="quote-box" name="model[quote]" placeholder="The key is...">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>

        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
